.DS_Store

.python-version


.env

file.py

ch02/text/
ch03/jawiki-uk.txt
high_school_mathematics.csv
high_school_mathematics_ansD.csv
ch04/melos.txt
wordsim353/
questions-words.txt
SST-2/
*.gz
*.zip
*.pth
ch08/code/__pycache__/
file.py
ch09/out/87/